@import "./Variables/border";
@import "./Variables/breakPoints";
@import "./Variables/color";
@import "./Variables/font";
@import "./Base/base";


// Header

@import "./Components/header";
@import "./Components/heroSection";
@import "./Components/followers";
@import "./Components/featuresSection";
@import "./Components/anothrfeatureSection";
@import "./Components/exlentfeature";
@import "./Components/easyplatform";
@import "./Components/aboutusSection";
@import "./Components/trustSection";
@import "./Components/custmrtrust";
@import "./Components/registerSection";
@import "./Components/footer";