// Font Colors

$fontColor-primary: #5BC17F;
$fontcolor-secondary: #404040;
$fontcolor-third: #fff;
$fontcolor-fourth: #18063C;

// Bg Color

$bgColor-primary: #5BC17F;
$bgColor-secondary: #fff;
$bgColor-third: #f0f0f5;