// Font Family 

$fontFamily-primary: "Poppins";

// Font weight

$fontweight-sm: 400;
$fontweight-md: 500;
$fontweight-lg: 600;
$fontweight-xl: 700;

// Font Size 

$font-size-sm: 18px;
$font-size-md: 20px;
$fontsize-lg: 32px;
$fontsize-xl: 64px;
