.custmrtrustContainer {
    max-width: 1920px;
    width: 100%;
    min-height: 800px;
    box-sizing: border-box;
    background: radial-gradient(ellipse, rgb(185, 213, 223), white,rgb(251, 248, 241),rgb(225, 243, 251));
    @media screen and (max-width: $breakpoint-xxl) {
        min-height: 700px;
    }

    .custRow {
        margin: 0px;
        .custCol {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-bottom: 20px;
            h2 {
                min-height: 120px;
                max-width: 800px;
                margin: 0px;
                text-align: center;
                @media screen and (max-width: $breakpoint-xxl) {
                    min-height: 100px;
                    max-width: 600px;
                }
                @media screen and (max-width: $breakpoint-md) {
                    margin-top: 10px;
                    min-height: 70px;
                    max-width: 350px;
                }
                span {
                    position: relative;
                    z-index: 1;
                }
                .featureyellwCircle {
                    position: absolute;
                    width: 230px;
                    height: 90px;
                    top: -2%;
                    left: -15%;
                    z-index: -1;
                    @media screen and (max-width: $breakpoint-xxl) {
                        width: 140px;
                        height: 50px;
                    }
                    @media screen and (max-width: $breakpoint-md) {
                        max-width: 150px;
                        height: 60px;
                    }
                }.featureyellwCircle img {
                    width: 100%;
                    height: 100%;
                }
            }
            .primaryPahra {
                max-width: 620px;
                text-align: center;
                @media screen and (max-width: $breakpoint-xxl) {
                    min-height: 70px;
                    max-width: 450px;
                }
                @media screen and (max-width: $breakpoint-md) {
                    max-width: 330px
                }
            }
        }
        .custCol2 {
            padding-bottom: 80px;
            display: flex;
            justify-content: center;
            .custmainBox {
                max-width: 1200px;
                width: 100%;
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: $breakpoint-xxl) {
                    max-width: 1030px;
                }
                @media screen and (max-width: 1024px) {
                    max-width: 754px;
                }
                @media screen and (max-width: $breakpoint-md) {
                    flex-direction: column;
                    align-items: center;
                }
                .custBox1 {
                    @include custBox1(410px,580px);
                    @media screen and (max-width: $breakpoint-xxl) {
                        max-width: 500px;
                        min-height: 200px;
                    }

                    @media screen and (max-width: 1024px) {
                        max-width: 362px;                  
                    }
                    
                    @media screen and (max-width: $breakpoint-md) {
                        min-height: 310px;
                        max-width: 480px;
                    }
                    @media screen and (max-width: $breakpoint-sm) {
                        min-height: 330px;
                        max-width: 350px;
                    }
                    .topBox1 {
                        @media screen and (max-width: $breakpoint-md) {
                            flex-direction: column;
                        }
                        .Box1icon {
                            font-size: 60px;
                            margin: auto;
                            color: $fontColor-primary;
                            @media screen and (max-width: $breakpoint-xxl) {
                                font-size: 50px;
                                margin: 27px 0px;
                            }
                            @media screen and (max-width: 1024px) {       /*----------------*/
                                margin: 27px 0px;
                                font-size: 40px;
                            }
                            @media screen and (max-width: $breakpoint-md) {
                                margin: 10px;
                                font-size: 40px;
                            }
                        }
                        .box1Header {
                            margin-left: 10px;
                            h3 {
                                max-width: 400px;
                                margin-top: 30px;
                                @media screen and (max-width: $breakpoint-xxl) {
                                    margin: 30px 10px 10px 10px;
                                }

                                @media screen and (max-width:1024px) {
                                    font-size: 20px;
                                }

                                @media screen and (max-width: $breakpoint-md) {
                                    margin: 0px;
                                }
                            }
                            .primaryPahra {
                                margin: 10px;
                                @media screen and (max-width: $breakpoint-xxl) {
                                    min-height: 50px;
                                    max-width: 300px;
                                }
                                @media screen and (max-width:1024px) {
                                    font-size: 14px;
                                }
                                @media screen and (max-width: $breakpoint-md) {
                                    margin-left: 0px;
                                    min-height: 30px;
                                }
                            }
                        }
                    }
                    .box1hr {
                        width: 480px;
                        margin: auto;
                        @media screen and (max-width: $breakpoint-xxl) {
                            margin-top: 20px;
                            width: 450px;
                        }
                        @media screen and (max-width: 1024px) {
                            max-width: 318px;
                        }
                        @media screen and (max-width: $breakpoint-md) {
                            width: 420px;
                        }
                        @media screen and (max-width: $breakpoint-sm) {
                            width: 300px;

                        }
                    }
                    .BottomBox1 {
                        margin-top: 25px;
                        min-height: 150px;
                        max-width: 580px;
                        display: flex;
                        .bottomRow {
                            justify-content: center;
                            margin: 0px;
                            .bottomCol {
                                max-width: 220px;
                                min-height: 50px;
                                margin: 10px;
                                border-radius: 10px;
                                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
                                @media screen and (max-width: $breakpoint-xxl) {
                                    min-height: 45px;
                                    max-width: 190px;
                                }
                                @media screen and (max-width: 1024px) {
                                    max-width: 140px;
                                    min-height: 30px;
                                }
                                @media screen and (max-width: $breakpoint-md) {
                                    max-width: 140px;
                                    min-height: 30px;
                                }
                                @media screen and (max-width: $breakpoint-sm) {
                                    max-width: 130px;
                                    min-height: 30px;
                                }
                            } .bottomCol img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

                .custBox2 {
                    @include custBox1(380px,580px);
                    @media screen and (max-width: $breakpoint-xxl) {
                        min-height: 200px;
                        max-width: 500px;
                    }
                    @media screen and (max-width: 1024px) {
                        min-height: 200px;
                        max-width: 362px;
                        width: 100%;
                    }
                    @media screen and (max-width: $breakpoint-md) {
                        height: 420px;
                        max-width: 480px;
                        width: 100%;

                    }
                    @media screen and (max-width: $breakpoint-sm) {
                        height: 430px;
                        width: 350px;
                    }

                    .topBox2 {
                        .Box2icon {
                            font-size: 60px;
                            width: 130px;
                            height: 90px;
                            border-radius: 50%;
                            background-color: rgb(226, 251, 226);
                            @media screen and (max-width: $breakpoint-xxl) {
                                width: 80px;
                                height: 80px;
                                font-size: 50px;
                            }
                            @media screen and (max-width: $breakpoint-md) {
                                width: 60px;
                                height: 50px;
                                font-size: 30px;
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                        }
                        .box2Header {
                            @media screen and (max-width: $breakpoint-md) {
                                margin-left: 10px;
                                width: 100%;
                            }
                            .primaryPahra {
                                width: 100%;
                            }
                        }
                    }
                    .box2hr {
                        width: 520px;
                        @media screen and (max-width: $breakpoint-xxl) {
                            width: 450px;
                        }
                        @media screen and (max-width: $breakpoint-md) {
                            width: 430px;
                        }
                        @media screen and (max-width: $breakpoint-sm) {
                            width: 300px;
                        }
                    }
                    .bottomBox2 {
                        max-width: 520px;
                        min-height: 150px;
                        margin: auto;
                        margin-top: 20px;
                        // width: 100%;
                        @media screen and (max-width: $breakpoint-xxl) {
                            max-width: 430px;
                        }
                        .bottominnerBox1 {
                            max-width: 250px;
                            min-height: 200px;
                            width: 100%;
                            border-radius: 30px;
                            padding: 15px;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin: 10px 0px;
                            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
                            @media screen and (max-width: $breakpoint-xxl) {
                                min-height: 100px;
                                max-width: 200px;
                            }
                            @media screen and (max-width: 1024px) {
                                max-width: 151px;
                                height: 154px;
                                width: 100%;
                            }
                            @media screen and (max-width: $breakpoint-md) {
                                max-width: 151px;
                                min-height: 154px;
                                margin: auto;
                                width: 100%;
                                height: 100%;
                                padding: 10px;
                            }
                            @media screen and (max-width: $breakpoint-sm) {
                                max-width: 137px;
                            }
                            .Box2innericon {
                                height: 70px;
                                width: 70px;
                                border-radius: 50%;
                                background-color: rgb(226, 251, 226);
                                color: $fontColor-primary;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 40px;
                                margin-bottom: 10px;
                                @media screen and (max-width: $breakpoint-xxl) {
                                    font-size: 35px;
                                    height: 50px;
                                    width: 50px;
                                }
                                @media screen and (max-width: 1024px) {
                                    font-size: 25px;
                                }
                                @media screen and (max-width: $breakpoint-md) {
                                    height: 40px;
                                    width: 40px;
                                    font-size: 20px;
                                }
                            }
                            .primaryPahra {
                                margin: 0px;
                                text-align: center;
                                @media screen and (max-width: 1024px) {
                                    font-size: 14px;
                                }
                                @media screen and (max-width: 1024px) {
                                    font-size: 12px;
                                    min-height: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}