.exclentfeatureContainer {
    max-width: 1920px;
    min-height: 600px;
    box-sizing: border-box;
    background: radial-gradient(ellipse, rgb(185, 213, 223), white,rgb(251, 248, 241),rgb(225, 243, 251));
    @media screen and (max-width: $breakpoint-xxl) {
        min-height: 500px;
    }
    .exclentRow {
        width :100%;
        .topCol {
            width: 100%;
            h2 {
                max-width: 100%;
                min-height: 80px;
                padding: 0px;
                text-align: center;
                span {
                    position: relative;
                    z-index: 1;
                }
                .exceyellwCircle {
                    position: absolute;
                    z-index: -1;
                    max-width: 360px;
                    min-height: 90px;
                    top: -1%;
                    left: -2%;
                    @media screen and (max-width: $breakpoint-xxl) {
                        width: 195px;
                        min-height: 40px;
                    }
                    @media screen and (max-width: $breakpoint-md) {
                        width: 200px;
                        min-height: 50px;
                    }
                }.exceyellwCircle img {
                    width: 100%;
                    height: 100%;
                }
            }
            .primaryPahra {
                text-align: center;
                @media screen and (max-width: $breakpoint-xxl) {
                    max-width: 500px;
                }
                @media screen and (max-width: $breakpoint-md) {
                    font-size: 16px;
                    margin: 10px;
                    max-width: 350px;
                }
            }
        }
        .bottomCol {
            .bottominnerRow {
                max-width: 1250px;
                margin: auto;
                @media screen and (max-width: $breakpoint-xxl) {
                    max-width: 930px;
                }
                .bottominnerCol {
                    @media screen and (max-width: $breakpoint-md) {
                        width: 100%;
                        padding: 10px;
                    }

                }
                .mySwiper {
                    .bottominnerCont {
                        max-width: 270px;
                        min-height: 300px;
                        border-radius: 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin: auto;
                        padding: 10px;
                        background-color: $fontcolor-third;
                        @media screen and (max-width: $breakpoint-xxl) {
                            min-height:230px ;
                        }
                        @media screen and (max-width: $breakpoint-md) {
                            max-width: 237px;
                            min-height: 250px;
                        }
                        span {
                            font-size: 50px;
                            color: $fontColor-primary;
                            @media screen and (max-width: $breakpoint-xxl) {
                                font-size: 40px;
                            }
                        }
                        h3 {
                            max-width: 260px;
                            font-size: 31px;
                            text-align: center;
                            margin: 0px;
                            word-break: break-word;
                            @media screen and (max-width: $breakpoint-xxl) {
                                font-size: 23px;
                            }
                        }
                        .primaryPahra {
                            text-align: center;
                            margin: 10px;
                            margin-top: 20px;
                            word-break: break-word;
                        }
                    }
                }
            }
        }
    }
}