.footerSection {
    .footerContainer {
        max-width: 1250px;
        min-height: 550px;
        padding: 20px;
        @media screen and (max-width: $breakpoint-xxl) {
            max-width: 930px;
            min-height: 530px;
        }
        .footerRow {
            .footerCol1 {
                min-height: 70px;
                padding: 0px;
                @media screen and (max-width: $breakpoint-xxl) {
                    min-height: 60px;
                }
                .footinnerRow {
                    @media screen and (max-width: $breakpoint-md) {
                        padding-top: 10px;
                    }
                    .footinnerCol1 {
                        padding: 0px;
                        @include fullWidth;
                        @media screen and (max-width: $breakpoint-md) {
                            padding: 20px 0px 20px 30px;
                            display: flex;
                            justify-content: start;
                        }
                        .logo {
                            max-width: 179px;
                            min-height: 40px;
                            margin-top: 20px;
                        } .logo img {
                            width: 100%;
                            height: 100%;
                        }
                        @media screen and (max-width: $breakpoint-xxl) {
                            .logo {
                                max-width: 130px;
                                min-height: 30px;
                            }
                        }
                    }
                    .footinnerCol2 {
                        display: flex;
                        justify-content: end;
                        @include fullWidth;
                        @media screen and (max-width: $breakpoint-md) {
                            justify-content: start;
                        }
                        span {
                            font-size: 25px;
                            padding: 0px 15px;
                            padding-top: 20px;
                            @media screen and (max-width: $breakpoint-xxl) {
                                font-size: 20px;
                            }
                        }
                        .twitter {
                            color: $fontColor-primary;
                        }
                    }
                }
            }
            .footHorizontal {
                width: 1250px;
                margin: 20px 0px;
                @media screen and (max-width: $breakpoint-md) {
                    display: none;
                }
            }
            .footerCol2 {
                .footinnerRow2 {
                    .footRow2col1 {
                        // @include fullWidth;

                        @media screen and (max-width: $breakpoint-md) {
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                        }
                        h3 {
                            max-width: 500px;
                            @media screen and (max-width: $breakpoint-xxl) {
                                max-width: 200px;
                            }
                            @media screen and (max-width: $breakpoint-md) {
                                font-size: 18px;
                                max-width: 150px;
                                // text-align: center;
                                margin-top: 30px;
                            }
                        }
                        .footerEmail {
                            margin-left: 10px;
                            max-width: 340px;
                            min-height: 58px;
                            .footemailInput {
                                border: none;
                                border-radius: 0px;
                                border-bottom: 2px solid grey;
                                max-width: 340px;
                                background: transparent;
                                position: relative;
                                // border: 1px solid red;
                            } .footemailInput:focus {
                                box-shadow: none;
                            }
                            label {
                                padding: 16px 0px;
                            }
                            .emailicon {
                                position: absolute;
                                right: 0px;
                                font-size: 25px;
                                top: 13px;
                                color: $fontColor-primary;
                                max-width: 27px;
                                width: 100%;
                                padding-left: 5px;
                                background-color: #fff;
                            }
                        }
                    }
                    .footRow2col2 {
                        // @include fullWidth;

                        .footulRow {
                            .footulCol {
                                // @include fullWidth;
                                ul {
                                    padding-left: 45px;
                                    @media screen and (max-width: $breakpoint-md) {
                                        padding: 0px;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: start;
                                    }
                                    list-style: none;
                                    li {
                                        @media screen and (max-width: $breakpoint-xxl) {
                                            font-size: 14px;
                                        }
                                        @media screen and (max-width: $breakpoint-md) {
                                            margin-top: 20px;
                                        }
                                        h3 {
                                            margin: 10px 0px 30px 0px;
                                            word-break: break-word;
                                            max-width: 130px;
                                            @media screen and (max-width: $breakpoint-lg) {
                                                font-size:20px;
                                            }
                                            @media screen and (max-width: $breakpoint-md) {
                                                font-size: 18px;
                                                margin: 0px;
                                                max-width: 150px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .footerCol3 {
                @media screen and (max-width: $breakpoint-md) {
                    padding-bottom: 30px;
                }
                .footRow3 {
                    min-height: 80px;
                    .footRow3Col1 {
                        display: flex;
                        align-items: start;
                        // @include fullWidth;

                        @media screen and (max-width: $breakpoint-md) {
                            flex-direction: column;
                        }
                        span {
                            font-weight: $fontweight-lg;
                            @media screen and (max-width: $breakpoint-md) {
                                margin: 10px 0px 10px 0px;
                            }
                        }
                    }
                    .footRow3Col2 {
                        display: flex;
                        justify-content: start;
                        align-items: start;
                        // @include fullWidth;

                        span {
                            font-weight: $fontweight-md;
                        }
                    }
                }
            }
        }
    }
}