.registerContainer {
    max-width: 1920px;
    min-height: 800px;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 30px;
    background: radial-gradient(ellipse, rgb(185, 213, 223), white,rgb(251, 248, 241),rgb(225, 243, 251));
    @media screen and (max-width: $breakpoint-xxl) {
        min-height: 650px;
    }

    @media screen and (max-width: $breakpoint-md) {
        min-height: 350px;
        padding: 0px;
    }
    .registerCont {
        min-height: 350px;
        max-width: 1500px;
        padding: 50px 0px 50px 70px;
        width: 100%;
        position: relative;
        @include registerSection;
        @media screen and (max-width: $breakpoint-xxl) {
            max-width: 1100px;
            min-height: 305px;
        }
        @media screen and (max-width: 1024px) {
            min-height: 250px;
        }
        @media screen and (max-width: $breakpoint-md) {
            border-radius: 0px;
            padding: 20px;
        }
        .registerinnerCont {
            @media screen and (max-width: $breakpoint-md) {
                max-width: 500px;
                margin: auto;
            }
            h2 {
                max-width: 800px;
                min-height: 200px;
                color: $fontcolor-third;
                @media screen and (max-width: $breakpoint-xxl) {
                    max-width: 600px;
                    min-height: 150px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 30px;
                    max-width: 367px;
                    min-height: 50px;
                }
                @media screen and (max-width: $breakpoint-md) {
                    min-height: 130px;
                    max-width: 370px;
                }
            }
            .primaryPahra {
                max-width: 650px;
                color: $fontcolor-third;
                @media screen and (max-width: $breakpoint-xxl) {
                    max-width: 460px;
                }
                @media screen and (max-width: 1024px) {
                    font-size: 14px;
                }
                @media screen and (max-width: $breakpoint-md) {
                    max-width: 300px;
                }   
            }
            .secondaryBtn {
                @include registerBtn;
                @media screen and (max-width: $breakpoint-md) {
                    max-width: 240px;
                    min-height: 68px;
                    margin: 20px;
                    padding: 20px 40px;
                    font-size: $font-size-sm;
                }
            } .secondaryBtn:hover {
                background-color: $fontColor-primary;
                border: 1px solid $fontcolor-third;
                color: $fontcolor-third;
            }
            .registerImg {
                position: absolute;
                top: -100px;
                right: 80px;
                max-width: 360px;
                min-height: 724px;
                @media screen and (max-width: $breakpoint-xxl) {
                    min-height: 400px;
                    max-width: 300px;
                }
                @media screen and (max-width: 1024px) {
                    right: 40px;
                    max-width: 230px;
                    min-height: 280px;
                    width: 100%;
                }
                @media screen and (max-width: $breakpoint-md) {
                    display: none;
                }
            } .registerImg img {
                width: 100%;
                height: 100%;
            }
        }
    }
}