.trustContainer {
    min-height: 520px;
    .trustRow {
        .trustleftCol {
            @media screen and (max-width: $breakpoint-md) {
                order: 1;
            }
            .trustCont {
                h2 {
                    max-width: 500px;
                    min-height: 200px;
                    @media screen and (max-width: $breakpoint-xxl) {
                        min-height: 150px;
                        max-width: 400px;
                    }
                    @media screen and (max-width: $breakpoint-md) {
                        min-height: 130px;
                    }
                    span {
                        position: relative;
                        z-index: 1;
                    }
                    .featureyellwCircle {
                        max-width: 250px;
                        height: 90px;
                        top: -5%;
                        left: -8%;
                        z-index: -1;
                        @media screen and (max-width: $breakpoint-xxl) {
                            width: 190px;
                            height: 70px;
                        }
                        @media screen and (max-width: $breakpoint-md) {
                            max-width: 200px;
                            height: 70px;
                        }
                    }.featureyellwCircle img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .primaryPahra {
                    max-width: 500px;
                    @media screen and (max-width: $breakpoint-xxl) {
                        max-width: 350px;
                    }
                    @media screen and (max-width: $breakpoint-md) {
                        font-size: 16px;
                        margin: 10px;
                        max-width: 330px;
                    }
                }
                .anthrfeaturephra {
                    min-height: 40px;
                    @media screen and (max-width: $breakpoint-xxl) {
                        min-height: 30px;
                    }
                    @media screen and (max-width: $breakpoint-md) {
                        min-height: 30px;
                    }
                }
            }
        }
        .trustrightCol {
            @media screen and (max-width: $breakpoint-md) {
                order: 2
            }
        }
    }
}